.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  background: var(--color-primary-dark);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color-primary-light);
    transform: translateX(-100%);
    transition: transform 500ms ease;
  }

  & span {
    position: relative;
    z-index: 2;
  }

  &:hover:before {
    transform: translateX(0);
  }

  &:hover {
    color: black;

    transform: translatey(-3px) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    // font-weight: 900;
  }
}

.google-sign-in {
  width: 25rem;
  background-color: #2a75f4;
}

.facebook-sign-in {
  width: 25rem;
  background-color: #3a559f;
  margin-top: 2rem;
}

.twitter-sign-in {
  width: 25rem;
  background-color: #38a1f3;
  margin-top: 2rem;
}

.github-sign-in {
  width: 25rem;
  background-color: black;
  margin-top: 2rem;
}

.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  z-index: 2;
}

.icon.facebook {
  background: white;
}
