.cart-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 2rem 1rem 1rem 1rem;
  background-color: var(--color-background-light);
  border: 2px solid var(--color-primary);
  height: 350px;
  right: 25px;
  top: 61px;
  z-index: 5;
  animation-name: fadeIn;
  transform-origin: top right;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.cart-dropdown-button {
  margin-bottom: 2rem;
  margin-top: auto;
}

.cart-items {
  position: relative;
  width: 100%;
  height: 240px;
  overflow-y: auto;
}

.cart-total {
  font-size: 1.5rem;
  animation: slide-to-right;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
  animation-timing-function: ease-in;
}

.cart-items-empty-message {
  font-size: 1.5rem;
  margin-top: 19rem;
}
