.category-item__container {
  position: relative;
  margin-top: 10rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .category-item__container {
    display: flex;
    flex-direction: column;
  }
}

.category-card {
  width: 30%;
  padding: 3rem 5%;
  @media only screen and (max-width: 37.5em) {
    width: 100%;
  }
}

.category-card-layer {
  height: 78%;
  width: 67%;
}
