@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}

@keyframes drop {
  0% {
    color: inherit;
    transform: rotate(27deg) translate(0px);
  }

  100% {
    color: var(--color-primary);
    transform: rotate(0deg) translate(-36px, 9.7vh);
  }
}
@media only screen and (max-width: 1030px) and (max-height: 610px) {
  @keyframes drop {
    0% {
      color: inherit;
      transform: rotate(27deg) translate(0px);
    }

    100% {
      color: var(--color-primary);
      transform: rotate(0deg) translate(-36px, 13vh);
    }
  }
}
@media only screen and (max-width: 56.25em) {
  @keyframes drop {
    0% {
      color: inherit;
      transform: rotate(27deg) translate(0px);
    }

    100% {
      color: var(--color-primary);
      transform: rotate(0deg) translate(-36px, 8.7rem);
    }
  }
}
@media only screen and (max-width: 37.5em) {
  @keyframes drop {
    0% {
      color: inherit;
      transform: rotate(27deg) translate(0px);
    }

    100% {
      color: var(--color-primary);
      transform: rotate(0deg) translate(-29px, 71px);
    }
  }
}
@keyframes slide-to-right {
  from {
    transform: translatex(-150px);
  }
  to {
    transform: translatex(0px);
  }
}
