@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes drop {
  0% {
    color: inherit;
    transform: rotate(27deg) translate(0px);
  }

  50% {
    transform: translate(-5.5px, 27.5px);
  }
  100% {
    color: var(--color-primary);
    transform: rotate(0deg) translate(-11px, 73px);
  }
}

@keyframes slide-to-right {
  from {
    transform: translatex(-150px);
  }
  to {
    transform: translatex(0px);
  }
}
