:root {
  --color-primary: #4fa6d8;
  --color-primary-dark: #2985ba;
  --color-primary-light: #95c9e7;
  --color-background-dark: #daecf7;
  --color-background-light: #f2f8fc;
  --color-text-dark: #0a222f;
  --color-text-light: #e8f3fa;
}
