.container {
  height: 100%;
  text-align: center;
  position: relative;
  perspective: 150rem;
  display: inline-block;
  padding: 0 5%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.all-card {
  width: 33%;
}

.category-card {
  width: 33%;
}

.image-container {
  background: #99c7d72e;
  height: 22rem;
}

.image-class {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 21rem;
  object-fit: contain;
  @media only screen and (max-width: 37.5em) {
    height: 21rem;
    width: 12rem;
  }
  @media only screen and (max-width: 25em) {
    width: 10rem;
  }
}

.down {
  height: 11rem;
  margin: 1rem 0;
  text-align: center;
}

.card-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.card-des {
  font-size: 1.6rem;
}

.exclusive {
  color: #b38728;
  font-weight: 600;
  font-size: 1.3rem;
}
.price-container {
  margin-bottom: 1.5rem;
}
.price {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 0.5rem;
}
.line-through {
  text-decoration: line-through;
  font-size: 1.3rem;
  font-weight: 300;
  position: relative;
  bottom: -2px;
}

.category-name {
  font-size: 2rem;
  margin-top: 1rem;
}

.image-category {
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}
// .discount-price {
//   text-decoration: line-through;
// }
