.card {
  position: relative;
  perspective: 150rem;
  display: inline-block;
  padding: 0 5%;
  width: 100%;
  border-radius: 5px;
  &__layer {
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 90%;
    background-color: rgba(250, 250, 250, 0.7);
    z-index: 998;
  }

  &:hover .card__layer {
    opacity: 1;
  }
  &:hover .card__hover {
    opacity: 0.8;
  }

  &__hover {
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary-dark);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.2s;
    opacity: 0;
    position: absolute;
    height: 8rem;
    width: 11rem;
    background-color: var(--color-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 1 !important;
      font-size: 1.7rem;
      font-weight: 900;
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    height: 16rem;
    width: 13rem;
    object-fit: contain;

    &-container {
      background-image: linear-gradient(
        to top,
        var(--color-primary-dark) 0%,
        var(--color-primary) 100%
      );
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }
  }

  &__bottom {
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  &__sale {
    font-size: 0.8rem;
    color: red;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;

    text-align: center;
    color: white;
    &::after {
      content: "";
      width: 80%;
      height: 1px;
      position: absolute;
      top: 38px;
      left: 10%;
      background-color: white;
      opacity: 0.2;
    }
  }

  &__price {
    text-align: center;
    justify-self: center;
    color: white;
    font-weight: 200;
    padding-bottom: 0.5rem;
    margin: 0 1rem;
    font-size: 2rem;
    font-weight: 500;

    &::after {
      content: "";
      width: 80%;
      height: 1px;
      position: absolute;
      top: 83%;
      left: 10%;
      background-color: white;
      opacity: 0.2;
    }
  }
  &__exclusive {
    font-size: 0.8rem;
    color: gold;
  }
}
