.checkout-container {
  margin: 5rem 0;
  text-align: center;
}

.sub-total {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 50rem;
  margin: 0 auto;

  & span {
    color: red;
    margin-left: 2px;
  }
}

.test-warning {
  margin: 3rem 0;
  color: darkred;
  font-size: 1.5rem;
}

button {
  margin-left: auto;
  @media only screen and (max-width: 37.5em) {
    margin-left: 0;
  }
}
