.container {
  display: flex;
  font-size: 1.5rem;
}
.arrow {
  cursor: pointer;
}

.container-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-horizontal {
  transform: rotate(90deg);
  cursor: pointer;
}

.quantity {
  margin: 0 1rem;
}
