//Override slick-carousel css//
.slick-arrow {
  display: absolute !important;
  z-index: 1;
  color: transparent;
  font-size: 3rem;
}
.slick-next {
  top: 28%;
}

.slick-prev {
  top: 28%;
}

.slick-prev:before,
.slick-next:before {
  color: lightblue;
  top: 28%;
}

.slick-slide img {
}
