.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__background {
    transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  &-1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  &__background-1 {
    background-image: linear-gradient(to right, #93291e, #ed213a, #93291e);
    height: 100%;
    width: 100%;
  }

  &-2 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  &__background-2 {
    background-image: linear-gradient(to right, #b38728, #fbf5b7, #b38728);
    height: 100%;
    width: 100%;
  }

  &-3 {
    grid-column: 1/3;
    grid-row: 5/-1;
  }
  &__background-3 {
    background-image: linear-gradient(to right, #2980b9, #6dd5fa, #2980b9);
    height: 100%;
    width: 100%;
  }

  &-4 {
    grid-column: 3/-1;
    grid-row: 1/4;
  }
  &__background-4 {
    position: relative;
    background-image: url("../../assets/homepage/menu-item/mens.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &-5 {
    grid-column: 3/-1;
    grid-row: 4/-1;
  }
  &__background-5 {
    position: relative;
    background-image: url("../../assets/homepage/menu-item/womens.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__content {
    background: rgba(white, 0.7);
    text-align: center;
    position: absolute;
    padding: 1rem;
    transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);

    &-title {
      font-size: 1.5rem;
    }

    &-title-1 {
      background: -webkit-linear-gradient(#ed213a, #93291e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-title-2 {
      background: -webkit-linear-gradient(#fbf5b7, #b38728);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-title-3 {
      background: -webkit-linear-gradient(#6dd5fa, #2980b9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-title-4 {
      background: -webkit-linear-gradient(#50b2c2, #177197);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-title-5 {
      background: -webkit-linear-gradient(#dd8ab5, rgb(85, 53, 71));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

//Animation//

.menu-item:hover .menu-item__background-1,
.menu-item:hover .menu-item__background-2,
.menu-item:hover .menu-item__background-3 {
  cursor: pointer;
  background-size: 100% 100px;
  background-position: -98px 0;
}

.menu-item:hover .menu-item__background-4,
.menu-item:hover .menu-item__background-5 {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-item:hover .menu-item__content-1,
.menu-item:hover .menu-item__content-2,
.menu-item:hover .menu-item__content-3,
.menu-item:hover .menu-item__content-4,
.menu-item:hover .menu-item__content-5 {
  cursor: pointer;
  background: rgba(white, 0.9);
}
.menu-item:hover .menu-item__content-1,
.menu-item:hover .menu-item__content-2,
.menu-item:hover .menu-item__content-3 {
  cursor: pointer;
  transform: scale(1.1);
}
