@mixin shrinkLabel {
  top: -20px;
  font-size: 1.2rem;
  color: black;
}

.group {
  position: relative;
  margin: 4.5rem 0;

  .form-input {
    background: none;
    background-color: var(--color-background-light);
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border-radius: 3px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-primary);
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: grey;
    font-size: 1.6rem;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
