@import "./styles/my_normalize.css";
@import "./styles/base.styles.scss";
@import "./styles/_typography.styles.scss";
@import "./styles/animations.scss";
@import "./styles//variables.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
