.cart-item {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  &::before {
    content: "";
    position: absolute;
    left: 8%;
    height: 1px;
    width: 80%;
    transform: translatey(70px);
    background-color: rgba(0, 0, 0, 0.2);
    @media only screen and (max-width: 37.5em) {
      transform: translatey(50px);
    }
  }

  &__img {
    height: 6rem;
    width: 6rem;
    @media only screen and (max-width: 37.5em) {
      height: 7rem;
      width: 7rem;
    }
  }
  &__name {
    font-size: 1.5rem;
    @media only screen and (max-width: 37.5em) {
      font-size: 1.8rem;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    @media only screen and (max-width: 37.5em) {
      font-size: 1.3rem;
    }
  }
  &__details {
    margin: 0 2rem;
    width: 10rem;
  }
}

.remove {
  position: relative;
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  margin-top: 3px;
  @media only screen and (max-width: 37.5em) {
    font-size: 1.5rem;
  }
}
.remove-button {
  color: var(--color-text-dark);
  font-size: 1.5rem;
  cursor: pointer;
  @media only screen and (max-width: 37.5em) {
    font-size: 1.8rem;
  }
}
