.cart-item {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  &::before {
    content: "";
    position: absolute;
    left: 8%;
    height: 1px;
    width: 80%;
    \transform: translatey(70px);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__img {
    height: 6rem;
    width: 6rem;
  }
  &__name {
    font-size: 1.5rem;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
  }
  &__details {
    margin: 0 2rem;
  }
}
